--
-- PostgreSQL database dump
--

\restrict gbCDVKzIMDaEet3gmt456sFSYicuzBToER7isu5bw5mr33n8kxTtVt283M1DgAn

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: payslip_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO payslip_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO payslip_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO payslip_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO payslip_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO payslip_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO payslip_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO payslip_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: axes_accessattempt; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.axes_accessattempt (
    id integer NOT NULL,
    user_agent character varying(255) NOT NULL,
    ip_address inet,
    username character varying(255),
    http_accept character varying(1025) NOT NULL,
    path_info character varying(255) NOT NULL,
    attempt_time timestamp with time zone NOT NULL,
    get_data text NOT NULL,
    post_data text NOT NULL,
    failures_since_start integer NOT NULL,
    CONSTRAINT axes_accessattempt_failures_since_start_check CHECK ((failures_since_start >= 0))
);


ALTER TABLE public.axes_accessattempt OWNER TO payslip_user;

--
-- Name: axes_accessattempt_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.axes_accessattempt ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.axes_accessattempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: axes_accessattemptexpiration; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.axes_accessattemptexpiration (
    access_attempt_id integer NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.axes_accessattemptexpiration OWNER TO payslip_user;

--
-- Name: axes_accessfailurelog; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.axes_accessfailurelog (
    id integer NOT NULL,
    user_agent character varying(255) NOT NULL,
    ip_address inet,
    username character varying(255),
    http_accept character varying(1025) NOT NULL,
    path_info character varying(255) NOT NULL,
    attempt_time timestamp with time zone NOT NULL,
    locked_out boolean NOT NULL
);


ALTER TABLE public.axes_accessfailurelog OWNER TO payslip_user;

--
-- Name: axes_accessfailurelog_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.axes_accessfailurelog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.axes_accessfailurelog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: axes_accesslog; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.axes_accesslog (
    id integer NOT NULL,
    user_agent character varying(255) NOT NULL,
    ip_address inet,
    username character varying(255),
    http_accept character varying(1025) NOT NULL,
    path_info character varying(255) NOT NULL,
    attempt_time timestamp with time zone NOT NULL,
    logout_time timestamp with time zone,
    session_hash character varying(64) NOT NULL
);


ALTER TABLE public.axes_accesslog OWNER TO payslip_user;

--
-- Name: axes_accesslog_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.axes_accesslog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.axes_accesslog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO payslip_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO payslip_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO payslip_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO payslip_user;

--
-- Name: employee_payslip; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.employee_payslip (
    id bigint NOT NULL,
    full_name character varying(100) NOT NULL,
    pin_code character varying(20) NOT NULL,
    nin character varying(50) NOT NULL,
    department character varying(100) NOT NULL,
    ministry character varying(100) NOT NULL,
    dob date NOT NULL,
    job_title character varying(100) NOT NULL,
    salary numeric(10,2) NOT NULL,
    allowances numeric(10,2) NOT NULL,
    deductions numeric(10,2) NOT NULL,
    month character varying(20) NOT NULL,
    year integer NOT NULL
);


ALTER TABLE public.employee_payslip OWNER TO payslip_user;

--
-- Name: employee_payslip_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.employee_payslip ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employee_payslip_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: otp_static_staticdevice; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.otp_static_staticdevice (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    confirmed boolean NOT NULL,
    user_id integer NOT NULL,
    throttling_failure_count integer NOT NULL,
    throttling_failure_timestamp timestamp with time zone,
    created_at timestamp with time zone,
    last_used_at timestamp with time zone,
    CONSTRAINT otp_static_staticdevice_throttling_failure_count_check CHECK ((throttling_failure_count >= 0))
);


ALTER TABLE public.otp_static_staticdevice OWNER TO payslip_user;

--
-- Name: otp_static_staticdevice_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.otp_static_staticdevice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_static_staticdevice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: otp_static_statictoken; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.otp_static_statictoken (
    id integer NOT NULL,
    token character varying(16) NOT NULL,
    device_id integer NOT NULL
);


ALTER TABLE public.otp_static_statictoken OWNER TO payslip_user;

--
-- Name: otp_static_statictoken_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.otp_static_statictoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_static_statictoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: otp_totp_totpdevice; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.otp_totp_totpdevice (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    confirmed boolean NOT NULL,
    key character varying(80) NOT NULL,
    step smallint NOT NULL,
    t0 bigint NOT NULL,
    digits smallint NOT NULL,
    tolerance smallint NOT NULL,
    drift smallint NOT NULL,
    last_t bigint NOT NULL,
    user_id integer NOT NULL,
    throttling_failure_count integer NOT NULL,
    throttling_failure_timestamp timestamp with time zone,
    created_at timestamp with time zone,
    last_used_at timestamp with time zone,
    CONSTRAINT otp_totp_totpdevice_digits_check CHECK ((digits >= 0)),
    CONSTRAINT otp_totp_totpdevice_step_check CHECK ((step >= 0)),
    CONSTRAINT otp_totp_totpdevice_throttling_failure_count_check CHECK ((throttling_failure_count >= 0)),
    CONSTRAINT otp_totp_totpdevice_tolerance_check CHECK ((tolerance >= 0))
);


ALTER TABLE public.otp_totp_totpdevice OWNER TO payslip_user;

--
-- Name: otp_totp_totpdevice_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.otp_totp_totpdevice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_totp_totpdevice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_adminauditlog; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_adminauditlog (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    target character varying(255),
    detail text,
    ip_address inet,
    "timestamp" timestamp with time zone NOT NULL,
    admin_id integer
);


ALTER TABLE public.payslip_app_adminauditlog OWNER TO payslip_user;

--
-- Name: payslip_app_adminauditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_adminauditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_adminauditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_notificationlog; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_notificationlog (
    id bigint NOT NULL,
    staff_number character varying(50) NOT NULL,
    reference_code character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL
);


ALTER TABLE public.payslip_app_notificationlog OWNER TO payslip_user;

--
-- Name: payslip_app_notificationlog_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_notificationlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_notificationlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_payrolldata; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_payrolldata (
    id bigint NOT NULL,
    staff_number character varying(50) NOT NULL,
    full_name character varying(100) NOT NULL,
    month character varying(20) NOT NULL,
    year integer NOT NULL,
    pin_code character varying(10) NOT NULL,
    dob date NOT NULL,
    notified boolean NOT NULL,
    reference_code character varying(50)
);


ALTER TABLE public.payslip_app_payrolldata OWNER TO payslip_user;

--
-- Name: payslip_app_payrolldata_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_payrolldata ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_payrolldata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_payslipdownloadlog; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_payslipdownloadlog (
    id bigint NOT NULL,
    request_reference character varying(50) NOT NULL,
    month character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    reason character varying(255) NOT NULL,
    ip_address inet,
    session_key character varying(64) NOT NULL,
    requested_at timestamp with time zone NOT NULL,
    payslip_file_id bigint,
    requested_by_id integer
);


ALTER TABLE public.payslip_app_payslipdownloadlog OWNER TO payslip_user;

--
-- Name: payslip_app_payslipdownloadlog_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_payslipdownloadlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_payslipdownloadlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_payslipfile; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_payslipfile (
    id bigint NOT NULL,
    month character varying(20) NOT NULL,
    file character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    request_id bigint NOT NULL
);


ALTER TABLE public.payslip_app_payslipfile OWNER TO payslip_user;

--
-- Name: payslip_app_payslipfile_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_payslipfile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_payslipfile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_paysliprequest; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_paysliprequest (
    id bigint NOT NULL,
    full_name character varying(200) NOT NULL,
    employee_number character varying(50) NOT NULL,
    department character varying(100) NOT NULL,
    job_title character varying(100) NOT NULL,
    phone_number character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    reason text NOT NULL,
    year integer NOT NULL,
    months jsonb NOT NULL,
    status character varying(20) NOT NULL,
    reference_number character varying(50) NOT NULL,
    id_card_front character varying(100),
    id_card_back character varying(100),
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.payslip_app_paysliprequest OWNER TO payslip_user;

--
-- Name: payslip_app_paysliprequest_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_paysliprequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_paysliprequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payslip_app_payslipretrievallog; Type: TABLE; Schema: public; Owner: payslip_user
--

CREATE TABLE public.payslip_app_payslipretrievallog (
    id bigint NOT NULL,
    full_name character varying(255) NOT NULL,
    pincode character varying(50) NOT NULL,
    dob date,
    department character varying(255) NOT NULL,
    ministry character varying(255) NOT NULL,
    months character varying(255) NOT NULL,
    year integer NOT NULL,
    ip_address inet NOT NULL,
    request_time timestamp with time zone NOT NULL
);


ALTER TABLE public.payslip_app_payslipretrievallog OWNER TO payslip_user;

--
-- Name: payslip_app_payslipretrievallog_id_seq; Type: SEQUENCE; Schema: public; Owner: payslip_user
--

ALTER TABLE public.payslip_app_payslipretrievallog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payslip_app_payslipretrievallog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
2	pbkdf2_sha256$1200000$5EKw43qD6w08sR6oXGFaHT$V8Ig8XGpiFkENsNRQaJk/RQj2i4F2BLsEZrhKxUMpWs=	\N	f	henry				f	t	2026-02-18 01:10:44.028808+00
1	pbkdf2_sha256$1200000$7rDr5EoIjIq80vMc9Sz1Pt$GiZ9GgkOdJYg4U0IZ+m8iDMBmE+HIvG40ybmEA8FewQ=	2026-02-28 20:26:40.378564+00	t	Jabbie	Abdulai	Jabbie	jabbieabdulai582@gmail.com	t	t	2026-02-17 23:34:10+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: axes_accessattempt; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.axes_accessattempt (id, user_agent, ip_address, username, http_accept, path_info, attempt_time, get_data, post_data, failures_since_start) FROM stdin;
\.


--
-- Data for Name: axes_accessattemptexpiration; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.axes_accessattemptexpiration (access_attempt_id, expires_at) FROM stdin;
\.


--
-- Data for Name: axes_accessfailurelog; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.axes_accessfailurelog (id, user_agent, ip_address, username, http_accept, path_info, attempt_time, locked_out) FROM stdin;
\.


--
-- Data for Name: axes_accesslog; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: employee_payslip; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.employee_payslip (id, full_name, pin_code, nin, department, ministry, dob, job_title, salary, allowances, deductions, month, year) FROM stdin;
\.


--
-- Data for Name: otp_static_staticdevice; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.otp_static_staticdevice (id, name, confirmed, user_id, throttling_failure_count, throttling_failure_timestamp, created_at, last_used_at) FROM stdin;
\.


--
-- Data for Name: otp_static_statictoken; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.otp_static_statictoken (id, token, device_id) FROM stdin;
\.


--
-- Data for Name: otp_totp_totpdevice; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.otp_totp_totpdevice (id, name, confirmed, key, step, t0, digits, tolerance, drift, last_t, user_id, throttling_failure_count, throttling_failure_timestamp, created_at, last_used_at) FROM stdin;
1	Abdulai Jabbie	t	e59da02cceb5a4008bf98c86a3e1269e2b7ad05e	60	0	6	1	0	29538506	1	0	\N	2026-02-18 01:28:25.069126+00	2026-02-28 20:26:40.282166+00
\.


--
-- Data for Name: payslip_app_adminauditlog; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: payslip_app_notificationlog; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.payslip_app_notificationlog (id, staff_number, reference_code, status, "timestamp") FROM stdin;
\.


--
-- Data for Name: payslip_app_payrolldata; Type: TABLE DATA; Schema: public; Owner: payslip_user
--

COPY public.payslip_app_payrolldata (id, staff_number, full_name, month, year, pin_code, dob, notified, reference_code) FROM stdin;
1	1	Fatama Conteh	January	2026	1001	2000-01-14	t	\N
\.


--
-- Data for Name: payslip_app_payslipdownloadlog; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: payslip_app_payslipfile; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: payslip_app_paysliprequest; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Data for Name: payslip_app_payslipretrievallog; Type: TABLE DATA; Schema: public; Owner: payslip_user
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: axes_accessattempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.axes_accessattempt_id_seq', 1, false);


--
-- Name: axes_accessfailurelog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.axes_accessfailurelog_id_seq', 1, false);


--
-- Name: axes_accesslog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.axes_accesslog_id_seq', 46, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 15, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 75, true);


--
-- Name: employee_payslip_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.employee_payslip_id_seq', 1, false);


--
-- Name: otp_static_staticdevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.otp_static_staticdevice_id_seq', 1, false);


--
-- Name: otp_static_statictoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.otp_static_statictoken_id_seq', 1, false);


--
-- Name: otp_totp_totpdevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.otp_totp_totpdevice_id_seq', 1, true);


--
-- Name: payslip_app_adminauditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_adminauditlog_id_seq', 170, true);


--
-- Name: payslip_app_notificationlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_notificationlog_id_seq', 1, false);


--
-- Name: payslip_app_payrolldata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_payrolldata_id_seq', 1, true);


--
-- Name: payslip_app_payslipdownloadlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_payslipdownloadlog_id_seq', 6, true);


--
-- Name: payslip_app_payslipfile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_payslipfile_id_seq', 22, true);


--
-- Name: payslip_app_paysliprequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_paysliprequest_id_seq', 19, true);


--
-- Name: payslip_app_payslipretrievallog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: payslip_user
--

SELECT pg_catalog.setval('public.payslip_app_payslipretrievallog_id_seq', 15, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: axes_accessattempt axes_accessattempt_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.axes_accessattempt
    ADD CONSTRAINT axes_accessattempt_pkey PRIMARY KEY (id);


--
-- Name: axes_accessattempt axes_accessattempt_username_ip_address_user_agent_8ea22282_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.axes_accessattempt
    ADD CONSTRAINT axes_accessattempt_username_ip_address_user_agent_8ea22282_uniq UNIQUE (username, ip_address, user_agent);


--
-- Name: axes_accessattemptexpiration axes_accessattemptexpiration_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.axes_accessattemptexpiration
    ADD CONSTRAINT axes_accessattemptexpiration_pkey PRIMARY KEY (access_attempt_id);


--
-- Name: axes_accessfailurelog axes_accessfailurelog_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.axes_accessfailurelog
    ADD CONSTRAINT axes_accessfailurelog_pkey PRIMARY KEY (id);


--
-- Name: axes_accesslog axes_accesslog_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.axes_accesslog
    ADD CONSTRAINT axes_accesslog_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: employee_payslip employee_payslip_nin_month_year_5fc2890b_uniq; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.employee_payslip
    ADD CONSTRAINT employee_payslip_nin_month_year_5fc2890b_uniq UNIQUE (nin, month, year);


--
-- Name: employee_payslip employee_payslip_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.employee_payslip
    ADD CONSTRAINT employee_payslip_pkey PRIMARY KEY (id);


--
-- Name: otp_static_staticdevice otp_static_staticdevice_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.otp_static_staticdevice
    ADD CONSTRAINT otp_static_staticdevice_pkey PRIMARY KEY (id);


--
-- Name: otp_static_statictoken otp_static_statictoken_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.otp_static_statictoken
    ADD CONSTRAINT otp_static_statictoken_pkey PRIMARY KEY (id);


--
-- Name: otp_totp_totpdevice otp_totp_totpdevice_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.otp_totp_totpdevice
    ADD CONSTRAINT otp_totp_totpdevice_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_adminauditlog payslip_app_adminauditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_adminauditlog
    ADD CONSTRAINT payslip_app_adminauditlog_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_notificationlog payslip_app_notificationlog_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_notificationlog
    ADD CONSTRAINT payslip_app_notificationlog_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_payrolldata payslip_app_payrolldata_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payrolldata
    ADD CONSTRAINT payslip_app_payrolldata_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_payslipdownloadlog payslip_app_payslipdownloadlog_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payslipdownloadlog
    ADD CONSTRAINT payslip_app_payslipdownloadlog_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_payslipfile payslip_app_payslipfile_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payslipfile
    ADD CONSTRAINT payslip_app_payslipfile_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_paysliprequest payslip_app_paysliprequest_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_paysliprequest
    ADD CONSTRAINT payslip_app_paysliprequest_pkey PRIMARY KEY (id);


--
-- Name: payslip_app_paysliprequest payslip_app_paysliprequest_reference_number_key; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_paysliprequest
    ADD CONSTRAINT payslip_app_paysliprequest_reference_number_key UNIQUE (reference_number);


--
-- Name: payslip_app_payslipretrievallog payslip_app_payslipretrievallog_pkey; Type: CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payslipretrievallog
    ADD CONSTRAINT payslip_app_payslipretrievallog_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: axes_accessattempt_ip_address_10922d9c; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessattempt_ip_address_10922d9c ON public.axes_accessattempt USING btree (ip_address);


--
-- Name: axes_accessattempt_user_agent_ad89678b; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessattempt_user_agent_ad89678b ON public.axes_accessattempt USING btree (user_agent);


--
-- Name: axes_accessattempt_user_agent_ad89678b_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessattempt_user_agent_ad89678b_like ON public.axes_accessattempt USING btree (user_agent varchar_pattern_ops);


--
-- Name: axes_accessattempt_username_3f2d4ca0; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessattempt_username_3f2d4ca0 ON public.axes_accessattempt USING btree (username);


--
-- Name: axes_accessattempt_username_3f2d4ca0_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessattempt_username_3f2d4ca0_like ON public.axes_accessattempt USING btree (username varchar_pattern_ops);


--
-- Name: axes_accessfailurelog_ip_address_2e9f5a7f; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessfailurelog_ip_address_2e9f5a7f ON public.axes_accessfailurelog USING btree (ip_address);


--
-- Name: axes_accessfailurelog_user_agent_ea145dda; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessfailurelog_user_agent_ea145dda ON public.axes_accessfailurelog USING btree (user_agent);


--
-- Name: axes_accessfailurelog_user_agent_ea145dda_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessfailurelog_user_agent_ea145dda_like ON public.axes_accessfailurelog USING btree (user_agent varchar_pattern_ops);


--
-- Name: axes_accessfailurelog_username_a8b7e8a4; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessfailurelog_username_a8b7e8a4 ON public.axes_accessfailurelog USING btree (username);


--
-- Name: axes_accessfailurelog_username_a8b7e8a4_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accessfailurelog_username_a8b7e8a4_like ON public.axes_accessfailurelog USING btree (username varchar_pattern_ops);


--
-- Name: axes_accesslog_ip_address_86b417e5; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accesslog_ip_address_86b417e5 ON public.axes_accesslog USING btree (ip_address);


--
-- Name: axes_accesslog_user_agent_0e659004; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accesslog_user_agent_0e659004 ON public.axes_accesslog USING btree (user_agent);


--
-- Name: axes_accesslog_user_agent_0e659004_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accesslog_user_agent_0e659004_like ON public.axes_accesslog USING btree (user_agent varchar_pattern_ops);


--
-- Name: axes_accesslog_username_df93064b; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accesslog_username_df93064b ON public.axes_accesslog USING btree (username);


--
-- Name: axes_accesslog_username_df93064b_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX axes_accesslog_username_df93064b_like ON public.axes_accesslog USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: otp_static_staticdevice_user_id_7f9cff2b; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX otp_static_staticdevice_user_id_7f9cff2b ON public.otp_static_staticdevice USING btree (user_id);


--
-- Name: otp_static_statictoken_device_id_74b7c7d1; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX otp_static_statictoken_device_id_74b7c7d1 ON public.otp_static_statictoken USING btree (device_id);


--
-- Name: otp_static_statictoken_token_d0a51866; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX otp_static_statictoken_token_d0a51866 ON public.otp_static_statictoken USING btree (token);


--
-- Name: otp_static_statictoken_token_d0a51866_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX otp_static_statictoken_token_d0a51866_like ON public.otp_static_statictoken USING btree (token varchar_pattern_ops);


--
-- Name: otp_totp_totpdevice_user_id_0fb18292; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX otp_totp_totpdevice_user_id_0fb18292 ON public.otp_totp_totpdevice USING btree (user_id);


--
-- Name: payslip_app_adminauditlog_admin_id_fc7f0e89; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_adminauditlog_admin_id_fc7f0e89 ON public.payslip_app_adminauditlog USING btree (admin_id);


--
-- Name: payslip_app_payslipdownloadlog_payslip_file_id_b29e8016; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_payslipdownloadlog_payslip_file_id_b29e8016 ON public.payslip_app_payslipdownloadlog USING btree (payslip_file_id);


--
-- Name: payslip_app_payslipdownloadlog_request_reference_063295b4; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_payslipdownloadlog_request_reference_063295b4 ON public.payslip_app_payslipdownloadlog USING btree (request_reference);


--
-- Name: payslip_app_payslipdownloadlog_request_reference_063295b4_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_payslipdownloadlog_request_reference_063295b4_like ON public.payslip_app_payslipdownloadlog USING btree (request_reference varchar_pattern_ops);


--
-- Name: payslip_app_payslipdownloadlog_requested_by_id_20450cb7; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_payslipdownloadlog_requested_by_id_20450cb7 ON public.payslip_app_payslipdownloadlog USING btree (requested_by_id);


--
-- Name: payslip_app_payslipfile_request_id_85f7c46c; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_payslipfile_request_id_85f7c46c ON public.payslip_app_payslipfile USING btree (request_id);


--
-- Name: payslip_app_paysliprequest_reference_number_7d1d3de1_like; Type: INDEX; Schema: public; Owner: payslip_user
--

CREATE INDEX payslip_app_paysliprequest_reference_number_7d1d3de1_like ON public.payslip_app_paysliprequest USING btree (reference_number varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: axes_accessattemptexpiration axes_accessattemptex_access_attempt_id_6b73a47a_fk_axes_acce; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.axes_accessattemptexpiration
    ADD CONSTRAINT axes_accessattemptex_access_attempt_id_6b73a47a_fk_axes_acce FOREIGN KEY (access_attempt_id) REFERENCES public.axes_accessattempt(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: otp_static_staticdevice otp_static_staticdevice_user_id_7f9cff2b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.otp_static_staticdevice
    ADD CONSTRAINT otp_static_staticdevice_user_id_7f9cff2b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: otp_static_statictoken otp_static_statictok_device_id_74b7c7d1_fk_otp_stati; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.otp_static_statictoken
    ADD CONSTRAINT otp_static_statictok_device_id_74b7c7d1_fk_otp_stati FOREIGN KEY (device_id) REFERENCES public.otp_static_staticdevice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: otp_totp_totpdevice otp_totp_totpdevice_user_id_0fb18292_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.otp_totp_totpdevice
    ADD CONSTRAINT otp_totp_totpdevice_user_id_0fb18292_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payslip_app_adminauditlog payslip_app_adminauditlog_admin_id_fc7f0e89_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_adminauditlog
    ADD CONSTRAINT payslip_app_adminauditlog_admin_id_fc7f0e89_fk_auth_user_id FOREIGN KEY (admin_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payslip_app_payslipdownloadlog payslip_app_payslipd_payslip_file_id_b29e8016_fk_payslip_a; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payslipdownloadlog
    ADD CONSTRAINT payslip_app_payslipd_payslip_file_id_b29e8016_fk_payslip_a FOREIGN KEY (payslip_file_id) REFERENCES public.payslip_app_payslipfile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payslip_app_payslipdownloadlog payslip_app_payslipd_requested_by_id_20450cb7_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payslipdownloadlog
    ADD CONSTRAINT payslip_app_payslipd_requested_by_id_20450cb7_fk_auth_user FOREIGN KEY (requested_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: payslip_app_payslipfile payslip_app_payslipf_request_id_85f7c46c_fk_payslip_a; Type: FK CONSTRAINT; Schema: public; Owner: payslip_user
--

ALTER TABLE ONLY public.payslip_app_payslipfile
    ADD CONSTRAINT payslip_app_payslipf_request_id_85f7c46c_fk_payslip_a FOREIGN KEY (request_id) REFERENCES public.payslip_app_paysliprequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict gbCDVKzIMDaEet3gmt456sFSYicuzBToER7isu5bw5mr33n8kxTtVt283M1DgAn

